body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0074D9;
  color: rgb(244, 248, 248);
  padding: 1em;
  text-align: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
  gap: 1em;
}

.controls select {
  padding: 0.5em;
  font-size: 1em;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 1em;
}

.product {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  background-color: #13e5ed;
}

.product h3 {
  margin-top: 0;
}
