* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  color: #333;
  padding: 20px;
}

header {
  background-color: #15b6da;
  padding: 20px;
  color: white;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  color:white;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #08d79d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#taskInput {
  padding: 10px;
  width: calc(100% - 120px);
  margin-top: 10px;
}

button {
  margin-top: 10px;
  background: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#taskList {
  list-style-type: none;
  margin-top: 10px;
}

#taskList li {
  padding: 8px;
  background-color: #eee;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

#taskList button {
  background-color: #f44336;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #666;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
